<table id="hosts" class="table table-hover table-striped">
    <thead>
      <tr><td><strong>Hosts</strong></td></tr>
      <tr class="warning">
        <td>Hostname</td><td>OS Type</td><td>OS Version</td><td>IP Address</td>
      </tr>
    </thead>
    <tbody>
      {% for h in hosts %}
        <tr id ="{{ h['id'] }}" class="{{class}}" {{'style=color:'+c['color'] if 'color' in c else ''}}>
          <td>
            <a href="host/{{ h['id'] }}">{{ h['id'] }}</a>
          </td>
          <td>
            {{ h['os_type'] }}
          </td>
          <td>
            {{ h['os_version'] }}
          </td>
          <td>
            {{ h['ipv4'] }}
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table><a href="#" class="back-to-top">Back to Top</a>
<a href="#" class="select-submit">Mark selected</a>
