<!-- Nav -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <!--<a class="navbar-brand pull-left" href="/"><img style="max-width:180px; margin-top: -7px;" src="https://www.circl.lu/assets/images/logos/cve.png" /></a>-->
    <a class="navbar-brand pull-left" href="/ivulncheck">Ivulncheck</a>
  </div>
  <div class="container">
    <ul class="nav nav-pills nav-center">
      <li{% if page is defined and page == "hosts" %} class="active"{% endif %}><a href="/ivulncheck/hosts">Hosts</a></li>
      <li{% if page is defined and page == "vulns" %} class="active"{% endif %}><a href="/ivulncheck/vulns">Global Vulns</a></li>
      <li{% if page is defined and page == "fixes" %} class="active"{% endif %}><a href="/ivulncheck/fixes">Global Fixes</a></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkdsavulns();">Check debsecan vulns</button></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkdsafixes();">Check debsecan fixes</button></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkubvulns();">Check ubuntu vulns</button></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkubfixes();">Check ubuntu fixes</button></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkpdvulns();">Check product vulns</button></li>
      <li><button class="btn btn-primary btn-xs" onclick="checkmsfixes();">Check madison fixes</button></li>
    </ul>
  </div>
</div>
<!-- End Nav -->
