{% extends 'layouts/master-page' %}
{% block title %}{{hostname}} - Vulns{% endblock %}
{% block head %}
  <!-- javascript -->
  <script type="text/javascript" src="/static/js/custom/pager.js"></script>
  
{% endblock %}
{% block content %}

 <button id="filter-toggle" type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#filterdiv">
  Hide/Show filter
</button>
  
  <div id="filterdiv" class="collapse well well-small">  
    <form method="POST" id="filter" class="nav form-search">
      
<!--
      {{ form.csrf_token }}
-->
      
      {{ form.r }}
      {{ form.pageLentgh }}
      {{ form.hostname }}
      <table class="searchTable">
        <tr>
          <td class="text">{{ form.cveid.label }}</td><td>{{ form.cveid(size=20) }}</td>
          <td class="text">{{ form.package.label }}</td><td>{{ form.package(size=30) }}</td>
          <td class="text">{{ form.urgency.label }}</td><td>{{ form.urgency() }}</td>
          <td class="text">{{ form.remotely_exp.label }}</td><td>{{ form.remotely_exp() }}</td>
          <td class="text">{{ form.fixed.label }}</td><td>{{ form.fixed() }}</td>
          <td class="text">{{ form.src.label }}</td><td>{{ form.src() }}</td>
          <td class="text">{{ form.submitField.label }}</td><td>{{ form.submitField() }}</td>
        </tr>
      </table>
  </form>
</div>

  {% if vulns != None %}
  <!-- Pager -->
  {% include 'subpages/pager.html' %}
  <!-- Search results -->
  {% include 'subpages/vulns_table.html' %}
  <!-- Pager -->
  {% include 'subpages/pager.html' %}
  {% endif %}
  
{% endblock %}
